<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title th:text="${title}"></title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <header th:insert="header :: header"></header>

    <body bgcolor="#000000" text="#ffffff">
        <table>
            <tr>
                <td>
                    <a href="https://www.youtube.com/channel/UC5XdIb6Wu6K-BbZuZ01_EWw">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/YouTube_social_red_circle_%282017%29.svg/2048px-YouTube_social_red_circle_%282017%29.svg.png" border="0" width="64" height="64">
                    </a>
                </td>
            </tr>
        </table>
    </body>
</html>