<div>
  <header>
    <div class="header">
        <div class="header__section">
          <div class="header__item headerButton"><a href="/">Home</a></div>
          <div class="header__item headerButton"><a href="/help">Help</a></div>
        </div>

        <div class="header__section">
          <div class="header__item headerButton">
            <a href="https://vk.com/red_line_linux">
              <img class="image_url" src="https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg">
            </a>
          </div>

          <div class="header__item headerButton">
            <a href="https://t.me/red_line_linux">
              <img class="image_url" src="https://cdn.worldvectorlogo.com/logos/telegram-1.svg">
            </a>
          </div>

          <div class="header__item headerButton">
            <a href="https://github.com/eXTrimeXT">
              <img class="image_url" src="https://icon-library.com/images/git-icon/git-icon-17.jpg">
            </a>
          </div>

          <div class="header__item headerButton">
            <a href="https://www.youtube.com/channel/UC5XdIb6Wu6K-BbZuZ01_EWw">
              <img class="image_url" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/YouTube_social_red_circle_%282017%29.svg/2048px-YouTube_social_red_circle_%282017%29.svg.png">
            </a>
          </div>

        </div>
      </div>
  </header>
</div>